.signup {
    padding-top: 5%;
}
.signupform {
    margin-top: 400%;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 20px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px; 
    border: 1px solid #d4d4d4;  
}
.signupform .btn {
    display: block;
    margin: 0 auto;
}
.signupform .form-group {
    padding-top: 5%;
}

#nprogress .bar {
    height: 5px !important;
}

.ql-editor {
    min-height: 300px;
}

img {
    width: 100%;
    overflow-x: hidden
}

.post-subtitle {
    font-weight: 200;   
}
.categorie {
    font-size: 0.6em;
}
body {
    overflow-x: hidden   
}
.aside {
    padding-top: 10%;
}
.titleaside {
    text-decoration: underline;
    padding-bottom: 15px;
}
.lastpost li {
    list-style-type: none;
}
.bloglist {
    padding-top: 10%;
}
.related {
    padding-top: 30px;
    text-decoration: underline;
}

